#root {
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#map-container{
  height:100%;
  width:100%;
  background-color: lightgray;
}

.sidebar {
  background-color: rgb(35 55 75 / 90%);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

.reset-button {
  position: absolute;
  top: 50px;
  z-index: 1;
  left: 12px;
  padding: 4px 10px;
  border-radius: 10px;
  cursor: pointer;
}


.botonsito{
  background-color: rgb(227, 127, 144);
  border: solid 2px red;
}


.formulario{
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  align-items: center;;
  justify-content: center;

}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
